* text=auto

/gradlew text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Dockerfile text eol=lf
docker/** text eol=lf

*.bat text eol=crlf
*.jar binary
docker/sftp/host_keys/ssh_host_* binary
